.dashboardContainer {
  min-height: 100svh;
  font-family: "Roboto", sans-serif;
  display: flex;
}

.charts {
  padding: 50px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 150px;
}

.content {
  width: calc(100% - 200px);
  padding: 50px 100px;
}

.courseHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 768px) {
  .content {
    width: calc(100% - 100px);
    padding: 20px 50px;
  }
}

@media (max-width: 425px) {
  .content {
    width: calc(100% - 50px);
    padding: 10px 25px;
  }
}
